<h2>Diet Plan selection</h2>
<select [(ngModel)]="selectedDietPlan">
  <option *ngFor="let dietPlan of fakeDietPlans" [ngValue]="dietPlan">{{dietPlan.startDate}}</option>
</select>
<br>
{{selectedDietPlan.startDate}}
<button>Create new Plan</button>
<h2>Requirements</h2>
<select [(ngModel)]="requirementNameSelected">
  <option *ngFor="let column of selectableColumns">{{column}}</option>
</select>
<button (click)="addRequirement()">add</button>
<br>
<div id="constraints-table" class="table-container">
  <div class="table-row">
    <label class="column">name</label>
    <label class="column">required</label>
    <label class="column">fulfilled</label>
  </div>
  <div *ngFor="let constraint of requirements | keyvalue" class="table-row">
    <label class="column">{{constraint.key}}</label>
    <input class="column" type="number" value="{{constraint.value.required}}">
    <input class="column" type="number" value="{{constraint.value.fulfilled}}">
  </div>
</div>
<hr>
<br>

<h4>Ingredients selected:</h4>
<div class="table-container">
  <div class="table-row">
    <label class="column">name</label>
    <label class="column">amount</label>

  </div>
  <div *ngFor="let ingredient of ingredientsSelected; let in = index" class="table-row">
    <div class="column">{{ingredient.name}}</div>
    <input class="column" type="number"
           value="{{this.ingredientsPlannedAmount.get(ingredient.id)}}"
           (change)="setIngredientAmount(ingredient.id, $event)">

    <!--    <input [(ngModel)]="ingredient.value" (mouseup)="updateMap(ingredient.key, ingredient.value)" type="range"-->
    <!--           step="0.25" min="0" max="100">-->
    <!--    <input [(ngModel)]="ingredient.value" (change)="updateMap(ingredient.key, ingredient.value)" type="number" min="0"-->
    <!--           max="100">-->
    <!--    <button (click)="updateMap(ingredient.key, ingredient.value)"></button>-->
  </div>

</div>
<hr>

<h3>Add Ingredients to Selection</h3>
<button *ngFor="let columnName of selectableColumns"
        (click)="toggleColumnVisibility(columnName)">{{columnName}}</button>
<div class="table-container">
  <div class="table-row">
    <button class="pagination-navigation" (click)="loadFirstPage()">First</button>
    <button class="pagination-navigation" (click)="loadPreviousPage()" [disabled]="ingredientPage.first">Previous
    </button>
    <input class="pagination-navigation" type="number" (change)="getPage(ingredientPage.number)"
           (blur)="getPage(ingredientPage.number)" [(ngModel)]="ingredientPage.number"/>
    <button class="pagination-navigation" (click)="loadNextPage()" [disabled]="ingredientPage.last">Next</button>
    <button class="pagination-navigation" (click)="loadLastPage()">Last</button>
  </div>
  <div class="table-row">
    <div class="column"></div>
    <div class="column">name</div>
    <div class="column" *ngFor="let columnName of visibleColumns">{{columnName}}</div>
  </div>
  <div class="table-row" *ngFor="let ingredient of ingredientPage.content">
    <button class="column" (click)="selectIngredient(ingredient)">add</button>
    <div class="column">{{ingredient.name}}</div>
    <div class="column" *ngFor="let columnName of visibleColumns">{{ingredient.data.get(columnName)}}</div>
  </div>
</div>
<hr>


<h3>Testing html elements</h3>
<label>Range slider: </label><input [(ngModel)]="testValue" type="range" min="0" max="100">
<input [(ngModel)]="testValue" type="number">
<hr>
