<h2>Requirements</h2>
<label>Energy per day:</label><input type="number"><label>Number of days:</label><input type="number" value="1"><br>
<br>
<select [(ngModel)]="selectedCategory">
  <option *ngFor="let category of categories">{{category}}</option>
</select>
<button (click)="addSelectedCategory(selectedCategory)">Add</button>
<h4>Selected:</h4>

<ul>
  <li *ngFor="let cat of selectedCategories | keyvalue">
    {{cat.key}}
    <input [(ngModel)]="cat.value" (mouseup)="updateMap(cat.key, cat.value)" type="range" step="0.25" min="0" max="100">
    <input [(ngModel)]="cat.value" (change)="updateMap(cat.key, cat.value)" type="number" min="0" max="100">
    <button (click)="updateMap(cat.key, cat.value)">update</button>
  </li>
</ul>

<hr>
<h3>Testing html elements</h3>
<label>Range slider: </label><input [(ngModel)]="testValue"  type="range" min="0" max="100">
<input [(ngModel)]="testValue" type="number">
